/* CSS RESET */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bolder; 
}

/* Removing the bullets in the navigation bar */

nav ul{
    list-style-type: none;
    width: 100%;
    padding: 10px;
}

/* Aligning list horizontally */

nav li{
    display: inline;
    margin: 10px;
}

#logo{
    float: left;
    font-style: italic;
    color: rgb(253, 120, 4);
}

/* Spacing the list items and removing  */

nav ul li a{
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 10px;   
}

/* Changing link colour on hover  */

nav li a:hover{
    background-color: rgb(8, 14, 11);
    color: rgb(234, 229, 224);
    border-radius: 20px;
}

/* Allowing user know the current page they are on */

.active{
    background-color: rgb(253, 120, 4);
    color: rgb(12, 12, 12);
    border-radius: 20px;
}

/* This is the heading */

#fill{
    
    font-size: 30px;
    color: rgb(253, 120, 4);
    margin: 20px;

}

/* The form */

table{
    border: 1px solid black;
    border-radius: 20px;
    margin: auto;
    background-color: rgb(55, 55, 72);
    color: white;
    padding: 20px;
}

/* First name */

.fn{
    font-size: 10px;
}

#fname{
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(8, 14, 11);
    font-size: 10px;
}

/* Last name */

.ln{
    font-size: 10px;
}

#lname{
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(8, 14, 11);
    font-size: 10px;
}

/* Email */

.em{
    font-size: 10px;
}

#email{
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(8, 14, 11);
    font-size: 10px;
}

/* Message */

.mg{
    font-size: 10px;
}

#message{
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(8, 14, 11);
    font-size: 10px;
    height: 100px;
}

/* Button */

.done{
    margin: 50px;
}

/* Stylying the submit button */

button{
    background-color: rgb(253, 120, 4);
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

button:hover{
    background-color: rgb(8, 14, 11);
    color: rgb(239, 235, 232);
}

@media screen and (min-width: 768px) {
    #topnav{
        float: right;
      }
    
      nav{
        background-color: rgb(52, 51, 51);
        height: 10vh;
        width: 100%;
      }
    
    /* Changing link colour on hover  */
    
    nav li a:hover{
      background-color: rgb(52, 51, 51);
      color: white;
      border-radius: 20px;
    }
    
    /* Allowing user know the current page they are on */
    
    .active{
      background-color: rgb(253, 120, 4);
      color: rgb(52, 51, 51);
      border-radius: 20px;
    }
    
    body{
      color: rgb(253, 120, 4);
    }
   #fill{
    margin-top: 50px;
   }
}